<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

<div class="wrapper">
  <article class="card-body mx-auto" style="max-width: 400px;">

    <form #form="ngForm" (ngSubmit)="login(form.value)">
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-user"></i> </span>
        </div>
        <input id="login" name="email" ngModel class="form-control" placeholder="email" type="text" #email>
      </div>
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
        </div>
        <input class="form-control" id="password" name="password" ngModel placeholder="password" type="password"
          #password>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block"> Create Account </button>
      </div>
      <p class="text-center">Don't Have an account? <a routerLink='/signup'>Signup</a> </p>
    </form>
  </article>
  <br>
  <div class="alert alert-danger alert-dismissable" *ngIf="authError">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <strong>Error !</strong> {{authErrorMessage}}.
  </div>
</div>