agm-map {
    height: 300px;
}

#formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    
    
    
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 0 5x 0 rgba(0,0,0,0.1);
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    text-align: center;
  }
  .p-2 {
    padding: .2rem!important;
}