<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

<br>
<div class="wrapper">
    <div *ngIf="zone"  >
        
        
        <h2 class="d-flex justify-content-center">Où voulez-vous Jouer ?</h2>
        <br>
        <article class="card-body mx-auto"   style="max-width: 700px;">

            <div class="input-group input-group-lg">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-lg"><i class="fa fa-map-pin"></i></span>
                </div>
                <input #search class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm"
                    (keydown.enter)="$event.preventDefault()" placeholder="Search Nearest Location" autocorrect="off"
                    [(ngModel)]="address" [value]="address" autocapitalize="off" spellcheck="off">
            </div>
            <br>
            <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
                <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
                    (dragEnd)="markerDragEnd($event)"></agm-marker>
                <agm-circle [latitude]="latitude" [longitude]="longitude" [(radius)]="circleRadius" [fillColor]="'blue'"
                    [circleDraggable]="true" [editable]="true" (centerChange)="onChangeCenter($event)"></agm-circle>
            </agm-map>

            <br>
            <h6 class="text-muted">Choisir l'heure</h6>
            <a class="d-flex list-group-item-action no-hover nav-link " id="date" (click)="onShowDate()">
                <div class="mr-auto p-2">
                    <span class="  p-2">
                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                            aria-hidden="true" fill="#708C91">
                            <g fill="none" fill-rule="evenodd">
                                <path d="M0 0h24v24H0z"></path>
                                <g stroke="#708C91" stroke-linecap="round" stroke-linejoin="round">
                                    <circle cx="12" cy="12" r="9.565"></circle>
                                    <path d="M12 6.783V12h5.217"></path>
                                </g>
                            </g>
                        </svg>
                    </span>
                    <span class="  p-2 text-primary text-decoration-none">{{dateString}} à {{timeString}}</span>
                </div>
                <div class="p-2">
                    <svg width="24" height="24" aria-hidden="true" fill="#708C91" id="icon-chevron-right-pixar"
                        viewBox="0 0 24 24">
                        <polyline fill="none" stroke="#708C91" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" stroke-miterlimit="10" points="9 18 15 12 9 6"></polyline>
                    </svg>
                </div>
            </a>

           <!-- <hr>
            <h6 class="text-muted">Historique de recherche</h6>

            <ul>
                <br>
                <li class="list-group-item-action" *ngFor="let his of hisearch">
                    <a type="button" class="d-flex align-items-center">
                        <span class=" mr-auto p-2 d-flex ">
                            <span class="p-2" style="color: rgb(5, 71, 82);">
                                {{his.location}}
                            </span>
                            <span class="p-2" style="color: rgb(112, 140, 145);">
                                {{his.date}} à {{his.time}}
                            </span>
                        </span>
                        <span class="p-2"><svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                                class="kirk-icon sc-bZQynM ehECGS" width="24" height="24" aria-hidden="true"
                                fill="#708C91">
                                <polyline fill="none" stroke="#708C91" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" stroke-miterlimit="10" points="9 18 15 12 9 6"></polyline>
                            </svg>
                        </span>
                    </a>
                    <div class="sc-hMqMXs cpGWPm" aria-hidden="true"></div>
                </li>
            </ul>-->
        </article>
    </div>
    <div *ngIf="time">
        <br>
        <br>
        <h2 class="d-flex justify-content-center">À quelle heure ?</h2>
        <br>
        <article class="card-body mx-auto d-flex justify-content-center" style="max-width: 600px;">
            <div class="d-flex flex-column bd-highlight mb-3">
                <div class="form-group d-flex justify-content-center">
                    <div class='input-group date' id='datetimepicker3'>
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-clock"></i> </span>
                        </div>
                        <input type='text' class="form-control" [ngxTimepicker]="defaultValue"
                            [(ngModel)]="timeString" />

                    </div>
                </div>
                <ngx-material-timepicker #defaultValue></ngx-material-timepicker>
                <br>

                <button class="btn btn-primary d-flex justify-content-center" (click)="search()">continue</button>
            </div>

        </article>
    </div>
    <div *ngIf="date">
        <br>
        <br>
        <h2 class="d-flex justify-content-center">Quand vous voulez jouez ?</h2>
        <br>
        <article class="card-body mx-auto d-flex justify-content-center" style="max-width: 600px;">
            <ngb-datepicker #d (dateSelect)="onShowTime($event)"></ngb-datepicker>

        </article>
    </div>


</div>